python-dotenv
numpy
pandas
matplotlib
seaborn
setuptools
pymongo
certifi
scikit-learn
dill
pyaml
mlflow
dagshub
fastapi
uvicorn
python-multipart>=0.0.6 
# -e .    # refer to setup.py file or executes it